<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression">

    <listeners>
        <listener class-name="com.orangehrm.web.listeners.CustomListener"/>
    </listeners>

    <test name="Chrome browser Execution">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.orangehrm.web.runners.TestRunner"/>
        </classes>
    </test>

    <test name="Edge browser Execution">
        <parameter name="browser" value="edge"/>
        <classes>
            <class name="com.orangehrm.web.runners.TestRunner"/>
        </classes>
    </test>

    <test name="Firefox browser Execution">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="com.orangehrm.web.runners.TestRunner"/>
        </classes>
    </test>
</suite>
