<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
        <listener class-name="com.orangehrm.listeners.CustomListeners"/>
    </listeners>

    <test verbose="2" preserve-order="true" name="C:/Users/kcvij/IdeaProjects/OrangeHRMAutomation">
        <classes>
            <class name="com.orangehrm.cucumber_runner.RunCuke"/>
        </classes>
    </test>
</suite>