<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression">

    <listeners>
        <listener class-name="com.orangehrm.web.listeners.CustomListener"/>
    </listeners>

    <test name="Chrome">
        <parameter name="browser" value="chrome"/>

        <classes>
            <class name="com.orangehrm.web.runners.TestRunner"/>
        </classes>
    </test>
</suite>
